# {{ ansible_managed }}
create
compress
delaycompress
su {{ logrotate_default_su }}
rotate {{ logrotate_default_rotate }}
{{ logrotate_default_freq }}
{% if logrotate_default_dateext == "true" -%}
dateext 
{% endif -%}
dateformat .%Y%m%d
include {{ logrotate_conf_d }}
